@import "../../styles/common.scss";

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; // để nằm trên các thành phần khác
    z-index         : 99;
    display         : flex;
    justify-content : space-between;
    background-color: $colormain;
    color           : $common-text-color;
    height          : 40px;

    .btn-logout {
        color      : $common-text-color;
        line-height: 40px;
        height     : 40px;
        padding    : 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }

    .languages {

        .welcome {
            margin-right: 10px;
        }

        .language-en {
            margin-left : 10px;
            margin-right: 15px;
            cursor      : pointer;

            &.active {
                opacity: 1;
                color  : #30d663;
            }
        }

        .language-vi {
            cursor: pointer;

            &.active {
                opacity: 1;
                color  : orange;
            }
        }
    }
}